<br>
<br>
<br>
<table align="center" >
  <tr>
    <td>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/06/10/07/25/book-2389229__340.png" class="card-img-top" alt="..."
          height="200" width="200">
        <div class="card-body">
          <a routerLink="/addBook" class="btn btn-dark btn-lg btn-block">Add Book</a>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/06/10/07/25/book-2389229__340.png" class="card-img-top" alt="..."
          height="200" width="200">
        <div class="card-body">
          <a routerLink="/booksInfo" class="btn btn-dark btn-lg btn-block">Books Info</a>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/06/10/07/25/book-2389229__340.png" class="card-img-top" alt="..."
          height="200" width="200">
        <div class="card-body">
          <a routerLink="/showRequests" class="btn btn-dark btn-lg btn-block">Show Requests</a>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/06/10/07/25/book-2389229__340.png" class="card-img-top" alt="..."
          height="200" width="200">
        <div class="card-body">
          <a routerLink="/showUsers" class="btn btn-dark btn-lg btn-block">Show Users</a>
        </div>
      </div>
    </td>
    <td>
      <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/06/10/07/25/book-2389229__340.png" class="card-img-top" alt="..."
          height="200" width="200">
        <div class="card-body ">
          <a routerLink="/issuedBooks" class="btn btn-dark btn-lg btn-block">Issued Books</a>
        </div>
      </div>
    </td>
  </tr>
</table>

