<body >
    <div class="alert alert-success" *ngIf='message'>{{ message }}</div>
    <div class="alert alert-danger" *ngIf='error'>{{ error }}</div>
    <div class="container forget-password" >
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1HtiGX3ahPiemxjJkdkwW90e5vVWGo4vTi9MZlxekjcOt59X7&usqp=CAU" alt="car-key" border="0">
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <form #updatePasswordForm='ngForm' (ngSubmit)='resetPassword(updatePasswordForm)'>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="uid" name="uid" placeholder="Enter user ID" class="form-control"
                                            type="number" #uid='ngModel' ngModel required>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="password" name="password" placeholder="Enter new Password" required
                                            class="form-control" type="password" #password='ngModel' ngModel
                                            minlength="8">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget"
                                        value="Reset Password" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>